html {
	font-size: 0.7rem;
}
#headshot {
  border-radius: 30px;
}

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

#term {
	font-family: 'Share Tech Mono', monospace;
	font-size: 12px;
}	

.floating {
	background-color: #111111;
	box-shadow: 5px 5px 10px #111111;
	padding: 10px;
	font-size: 12px;
}

#term {
	position: relative;
  border-radius: 3px;
}
@media only screen and (max-width: 1000px) {
  #term {
    display: none;
  }
}
.heading {
  font-size: 2em;
}
.portfolio-heading {
  font-size: 1.5em;
  text-align: right;
  line-height: normal;
}
.portfolio-image {
  -moz-box-shadow:    3px 3px 10px 1px #ccc;
  -webkit-box-shadow: 3px 3px 10px 1px #ccc;
  box-shadow:         3px 3px 10px 1px #ccc;
}
.row {
  padding-bottom: 10px;
}
