
.icon-menu:before { content: '\e800'; } /* '' */
.icon-linux:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-lastfm:before { content: '\e805'; } /* '' */